NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
SUPABASE_SECRET_KEY=REPLACE_ME
REDIS_REST_URL=https://YOUR_REDIS_REST_ENDPOINT
REDIS_REST_TOKEN=REPLACE_ME
JUDGE_QUEUE_NAME=coders-arena-submissions
JUDGE_CPP_IMAGE=coders-arena/cpp:1
JUDGE_PYTHON_IMAGE=coders-arena/python:1
JUDGE_JAVA_IMAGE=coders-arena/java:1
JUDGE_JAVASCRIPT_IMAGE=coders-arena/javascript:1
